<div class="header">
  <div class="logo"><img src="../src/assets/college-logo.png" alt="logo"></div>
    <div class="nav-list">
    <div>
    <div class="navTop"></div><br> 
    Home<br><span>InitialPage</span>
    </div>
    <div>
    <div class="navTop"></div><br> 
     AboutUs<br><span>Howthings</span>
  </div>
  <div>
      <div class="navTop"></div><br> 
      News<br><span>FreshSchoolNew</span>
  </div>
  <div>
      <div class="navTop"></div><br> 
      Events<br><span>Upcomingevent</span>
  </div>
  <div> 
      <div class="navTop"></div><br> 
      Courses<br><span>AvailableCou</span>
  </div>
  <div> 
      <div class="navTop"></div><br> 
      Gallery<br><span>sdjnsnoxjjjo</span>
  </div> 
</div>
</div>
<div class="cont">
  <div class="search">
<img src="src\assets\search-logo.png" width="15px" height="15px">
</div>
  <div class="slide">
    <img src="../src/assets/slide-show-image.png" width="900px" height="400px">
  </div>
  <div class="row">
    <div class="col-1">
        <div class="col-div">
            <span class="span"></span>
            <small style="color:gray; font-size: 100%; margin-left: 7.5%;">RecentNN</small>
          </div>
      <div class="detail">
        <div class="d-1">
          <div>
            <img src="../src/assets/great-scholl.png">
          </div>
          <div class="small">
            <li style="list-style:none;"><small>Jun8 2014</small></li>
            <li style="list-style: none;margin-left: 15%;">Great school post</li>
          </div>
        </div>
        <div class="hr">
          <hr>
        </div>
        <div class="d-2">
          <div>
            <img src="../src/assets/hard-work.png">
          </div>
          <div class="small">
            <li style="list-style:none;"><small>Jun8 2014</small></li>
            <li style="list-style: none;margin-left: 15%;">Great school post</li>
          </div>
        </div>
        <div class="hr">
          <hr>
        </div>
        <div class="d-2">
          <div>
            <img src="src\assets\meetings-game (1).png">
          </div>
          <div class="small">
            <li style="list-style:none;"><small>Jun8 2014</small></li>
            <li style="list-style: none;margin-left: 15%;">Great school post</li>
          </div>
        </div>
        <div class="hr">
          <hr>
        </div>
        <div class="d-2">
          <div>
            <img src="../src/assets/hard-work.png">
          </div>
          <div class="small">
            <li style="list-style:none;"><small>Jun8 2014</small></li>
            <li style="list-style: none;margin-left: 15%;">Great school post</li>
          </div>
        </div>
      </div>
      <div class="under">
          <div class="col-div">
              <span class="span"></span>
              <small style="color:gray; font-size: 100%; margin-left: 7.5%;">FeaturedGG</small>
            </div>
        <div class="side-img">
          <img src="src\assets\gallery.png" height="110px" width="250px">
        </div>
        <div class="below">
          <div class="col">
            <div>
              <h2 style="color:dodgerblue;">06</h2>
            </div>
            <div><small style="color:grey;">Photo</small></div>
          </div>
          <div class="vl"></div>
          <div class="coll">
            <p style="padding-left:7%; padding-top:4%;">Mix and Match School</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="col-div">
        <span class="span"></span>
        <small style="color:gray; font-size: 100%; margin-left: 8%;">Upcominggg</small>
      </div>
      <div class="mid">
        <p><b>New Commerce Welcome Party</b></p>
      </div>
      <div class="hor">
        <p class="pstyle"><b>Jan 8 2018</b><span class="vll"></span>
        </p>
        <p class="pStyle">16:00-22:00</p>
      </div>

      <div class="hor">
      </div>
      <div>
        <img src="src\assets\time-clock.ico" height="13px" width="13px" class="icon">
        <p style="color:red;float:right; margin-right:91px;">Add To Google Calendar</p>
      </div>
      <div class="data">
        <p style="color:grey;">sdiojsljciikdnslzdcsjcksdmzcklsjzcmjsodjspdjcsmdckmsdxkcmxcklxmmxoopjsdocpsjcopkcdcop....
          <span style="color:red;">Read more</span></p>
      </div>
      <div class="mid">
        <p><b>Brain Welcome Party</b></p>
      </div>
      <div class="hor">
        <p class="pstyle"><b>Jan 8 2018</b><span class="vll"></span>
        </p>
        <p class="pStyle">16:00-22:00</p>
      </div>

      <div class="hor">
      </div>
      <div>
        <img src="src\assets\time-clock.ico" height="13px" width="13px" class="icon">
        <p style="color:red;float:right; margin-right:91px;">Add To Google Calendar</p>
      </div>
      <div class="data">
        <p style="color:grey;">sdiojsljciikdnslzdcsjcksdmzcklsjzcmjsodjspdjcsmdckmsdxkcmxcklxmmxoopjsdocpsjcopkcdcop....
          <span style="color:red;">Read more</span></p>
      </div>
      <div class="mid">
        <p><b>Campus Open Doors</b></p>
      </div>
      <div class="hor">
        <p class="pstyle"><b>Jan 8 2018</b><span class="vll"></span>
        </p>
        <p class="pStyle">16:00-22:00</p>
      </div>

      <div class="hor">
      </div>
      <div>
        <img src="src\assets\time-clock.ico" height="13px" width="13px" class="icon">
        <p style="color:red;float:right; margin-right:91px;">Add To Google Calendar</p>
      </div>
      <div class="data">
        <p style="color:grey;">sdiojsljciikdnslzdcsjcksdmzcklsjzcmjsodjspdjcsmdckmsdxkcmxcklxmmxoopjsdocpsjcopkcdcop....
          <span style="color:red;">Read more</span></p>
      </div>
    </div>
    <div class="col-3">
        <div class="col-div">
            <small style="color:gray; font-size: 100%; margin-left: 7.5%;">Searchbar</small>
          </div>
      <div>
        <input type="text" placeholder="Find a Course...">
        <button type="submit">Go</button>

        <div class="divimg">
          <img src="src\assets\apply.png" width="260px" height="55px">
        </div>

        <div class="divimg1">
          <img src="src\assets\tour.png" width="260px" height="55px">
        </div>

        <div class="divimg2">
          <img src="src\assets\prospectus.png" width="260px" height="55px">
        </div>
        <div class="tweet">
          <p>Get a few idea and learn how to make great images for social media account</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="row1">
      <div class="col1">
        <div class="col-div">
          <span class="span"></span>
          <small style="color:gray; font-size: 100%; margin-left: 8%;">Select</small>
        </div>
        <div class="footerUl">
          <ul class="ul">
            <li>AboutUs</li>
            <div class="vr"></div>
            <li class="list">Team Member</li>
            <div class="vr"></div>
            <li class="list">Full Width Page</li>
            <div class="vr"></div>
            <li class="list">Text Formating</li>
            <div class="vr"></div>
            <li class="list">Components</li>
            <div class="vr"></div>
            <li class="list">Contact Us</li>
          </ul>
        </div>
      </div>
      <div class="col2">
        <div class="col-div">
          <span class="span"></span>
          <small style="color:gray; font-size: 100%; margin-left: 8%;">School Content</small>
        </div>
        <div class="divf">
          <P><b>BUNTGTON SCHOOL</b></P>
        </div>
        <div class="addr">
          <p>795 Folsome Ave,600</p>
           <p>San Francisco , CA</p>
          <p>5456 USA</p>
            <P><b>TEL:54445645</b></P>
            <P><b>FAX:46464644</b></P>
        </div>
        <div class="vrr"></div>
        <div class="s-flex">
          <div class="share">
            <div class="share-logo">
              <img src="src\assets\socialmedia_insta.png" width="18px">
            </div>
          </div>
          <div class="share">
            <div class="share-logo">
              <img src="src\assets\socialmedia_googleplus.png" width="18px">
            </div>
          </div>
          <div class="share">
            <div class="share-logo">
              <img src="src\assets\socialmedia_fb.png" width="18px">
            </div>
          </div>
          <div class="share">
            <div class="share-logo">
              <img src="src\assets\socialmedia_linkedin.png" width="18px">
            </div>
          </div>
          <div class="shar">
            <div class="share-logo">
              <img src="src\assets\socialmedia_twitter.png" width="18px">
            </div>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="col-div">
          <span class="span"></span>
          <small style="color:gray; font-size: 100%; margin-left: 8%;">FLICKER ALBUM</small>
        </div>
          <div class="flimg">
            <img src="src\assets\7.png" width="280px" height="245px">
          </div>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
